td {
    align-items: center;
}

.hynPath {
    width: 15%;
    padding-top: 15%;
    background-color: mediumpurple;
}

.lionPath {
    width: 15%;
    padding-top: 15%;
    background-color: orange;
}

.correctAns {
    color: forestgreen;
}

.wrongAns {
    color: red;
}

.table {
    width: 80%;
    height: 90%;
}

@media only screen and (min-width: 400px) {
    .table {
        width: 50%;
        height: 90%;
    }
}
.timer{
    border:1px;
    background-color:lightgray;
    color:crimson;
    padding:2%
}
.column2 {
    display: inline-block;
}
.column{
    display:inline-block;
    float:left;
    width:10%;
    padding-top:20%;
}
.road {
    border-left: dashed;
    border-left-color: white;
    border-right: dashed;
    border-right-color: white;
    width: 5%;
    background-color: darkgray;
}